## Data Collection and Pre Processing

In [1]:
# install and call required packages
import pandas as pd
import yfinance as yf

Import banks historical stock data including start and end periods, OHLC data, stock dividen(optional), pre and post market data

In [2]:
# Create an DataFrame to store each bank stocks data
BAC = yf.download('BAC', start='2018-1-1', end='2023-12-31') # bank of america
C = yf.download('C', start='2018-1-1', end='2023-12-31') # citi group
GS = yf.download('GS', start='2018-1-1', end='2023-12-31') # goldman sachs
JPM = yf.download('JPM', start='2018-1-1', end='2023-12-31') #JP morgan
MS = yf.download('MS', start='2018-1-1', end='2023-12-31') # morgan stanley
WFC = yf.download('WFC', start='2018-1-1', end='2023-12-31') # well fargo

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
# Create a list of the ticker symbols (as strings)
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC'] # group banks tickers in a listb
tickers

['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [4]:
# concatenate the bank dataframes together to a single data frame called stocks. 
stocks = pd.concat([BAC, C, GS, JPM, MS, WFC],axis=1,keys=tickers)
stocks.head()

                  BAC                                                        \
                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  29.750000  29.900000  29.610001  29.900000  25.995729  57121600
2018-01-03  29.900000  29.940001  29.690001  29.799999  25.908791  57865700
2018-01-04  29.969999  30.440001  29.879999  30.190001  26.247868  76512500
2018-01-05  30.370001  30.420000  30.049999  30.330000  26.369587  56445200
2018-01-08  30.230000  30.270000  30.049999  30.120001  26.187006  42914800

                    C                                   ...         MS  \
                 Open       High        Low      Close  ...        Low
Date                                                    ...
2018-01-02  75.089996  75.180000  74.019997  74.360001  ...  52.169998
2018-01-03  74.349998  74.739998  73.970001  74.589996  ...  51.919998
2018-01-04  75.010002  76.110001  74.660004  75.510002  ...  52.509998
2018-01-05  75.709999  75.769997  74.959999  75.410004  ...  52.740002
2018-01-08  75.169998  75.239998  74.330002  74.529999  ...  52.689999

                                                 WFC                        \
                Close  Adj Close   Volume       Open       High        Low
Date
2018-01-02  52.189999  43.752384  6644600  61.040001  61.360001  60.700001
2018-01-03  52.330002  43.869759  6955500  61.220001  61.770000  61.099998
2018-01-04  53.130001  44.540417  8678800  61.980000  63.049999  61.910000
2018-01-05  53.110001  44.523651  6476000  62.759998  62.810001  62.090000
2018-01-08  52.889999  44.339222  6681400  62.660000  62.730000  61.939999


                Close  Adj Close    Volume
Date
2018-01-02  61.090000  51.275253  13819300
2018-01-03  61.560001  51.669731  14203700
2018-01-04  62.330002  52.316029  18740500
2018-01-05  62.750000  52.668556  14217900
2018-01-08  62.040001  52.072624  15569400

[5 rows x 36 columns]

In [5]:
# Set the column name levels
stocks.columns.names = ['Ticker','Stock Info']

### Clean data, Handle missing values, and ensure data types are correct.

In [6]:
# Check for missing values and Optionally, drop any remaining NaN values
bStocks = stocks.dropna()
bStocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1509 entries, 2018-01-02 to 2023-12-29
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (BAC, Open)       1509 non-null   float64
 1   (BAC, High)       1509 non-null   float64
 2   (BAC, Low)        1509 non-null   float64
 3   (BAC, Close)      1509 non-null   float64
 4   (BAC, Adj Close)  1509 non-null   float64
 5   (BAC, Volume)     1509 non-null   int64
 6   (C, Open)         1509 non-null   float64
 7   (C, High)         1509 non-null   float64
 8   (C, Low)          1509 non-null   float64
 9   (C, Close)        1509 non-null   float64
 10  (C, Adj Close)    1509 non-null   float64
 11  (C, Volume)       1509 non-null   int64
 12  (GS, Open)        1509 non-null   float64
 13  (GS, High)        1509 non-null   float64
 14  (GS, Low)         1509 non-null   float64
 15  (GS, Close)       1509 non-null   float64
 16  (GS, Adj Close)   1509 non-null   float64
 17  (GS, Volume)      1509 non-null   int64
 18  (JPM, Open)       1509 non-null   float64
 19  (JPM, High)       1509 non-null   float64
 20  (JPM, Low)        1509 non-null   float64
 21  (JPM, Close)      1509 non-null   float64
 22  (JPM, Adj Close)  1509 non-null   float64
 23  (JPM, Volume)     1509 non-null   int64
 24  (MS, Open)        1509 non-null   float64
 25  (MS, High)        1509 non-null   float64
 26  (MS, Low)         1509 non-null   float64
 27  (MS, Close)       1509 non-null   float64
 28  (MS, Adj Close)   1509 non-null   float64
 29  (MS, Volume)      1509 non-null   int64
 30  (WFC, Open)       1509 non-null   float64
 31  (WFC, High)       1509 non-null   float64
 32  (WFC, Low)        1509 non-null   float64
 33  (WFC, Close)      1509 non-null   float64
 34  (WFC, Adj Close)  1509 non-null   float64
 35  (WFC, Volume)     1509 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 436.2 KB

Export dataset for exploratory data analysis (EDA)

In [12]:
bStocks.head()

Ticker            BAC                                                        \
Stock Info       Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  29.750000  29.900000  29.610001  29.900000  25.995729  57121600
2018-01-03  29.900000  29.940001  29.690001  29.799999  25.908791  57865700
2018-01-04  29.969999  30.440001  29.879999  30.190001  26.247868  76512500
2018-01-05  30.370001  30.420000  30.049999  30.330000  26.369587  56445200
2018-01-08  30.230000  30.270000  30.049999  30.120001  26.187006  42914800

Ticker              C                                   ...         MS  \
Stock Info       Open       High        Low      Close  ...        Low
Date                                                    ...
2018-01-02  75.089996  75.180000  74.019997  74.360001  ...  52.169998
2018-01-03  74.349998  74.739998  73.970001  74.589996  ...  51.919998
2018-01-04  75.010002  76.110001  74.660004  75.510002  ...  52.509998
2018-01-05  75.709999  75.769997  74.959999  75.410004  ...  52.740002
2018-01-08  75.169998  75.239998  74.330002  74.529999  ...  52.689999

Ticker                                           WFC                        \
Stock Info      Close  Adj Close   Volume       Open       High        Low
Date
2018-01-02  52.189999  43.752384  6644600  61.040001  61.360001  60.700001
2018-01-03  52.330002  43.869759  6955500  61.220001  61.770000  61.099998
2018-01-04  53.130001  44.540417  8678800  61.980000  63.049999  61.910000
2018-01-05  53.110001  44.523651  6476000  62.759998  62.810001  62.090000
2018-01-08  52.889999  44.339222  6681400  62.660000  62.730000  61.939999

Ticker
Stock Info      Close  Adj Close    Volume
Date
2018-01-02  61.090000  51.275253  13819300
2018-01-03  61.560001  51.669731  14203700
2018-01-04  62.330002  52.316029  18740500
2018-01-05  62.750000  52.668556  14217900
2018-01-08  62.040001  52.072624  15569400

[5 rows x 36 columns]

In [7]:
pwd

'/home/jupyter-raphrivers/Historical-Stock-Data-Analysis'

In [14]:
# specify your file path
filePath = ("/home/jupyter-raphrivers/Historical-Stock-Data-Analysis/assets/bankstocks.csv")

# export dataframe to csv or json 
bStocks.to_csv(filePath)